<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentToon</key>
	<integer>0</integer>
	<key>Level</key>
	<integer>1</integer>
	<key>Coin</key>
	<integer>0</integer>
	<key>Experience</key>
	<integer>0</integer>
	<key>Highscore</key>
	<integer>0</integer>
	<key>Toons</key>
	<dict>
		<key>ModelToons</key>
		<dict>
			<key>Purchased</key>
			<false/>
			<key>Title</key>
			<string>None</string>
			<key>Description</key>
			<array>
				<string>She was born in the wilds and</string>
				<string>raised by dragons. When dragons</string>
				<string>fly with her, they earn 2x XP!</string>
			</array>
			<key>Level</key>
			<integer>1</integer>
			<key>Experience</key>
			<integer>0</integer>
			<key>BulletLevel</key>
			<integer>1</integer>
		</dict>
		<key>Jupiter 2</key>
		<dict>
			<key>Purchased</key>
			<true/>
			<key>Title</key>
			<string>Captain Miranda</string>
			<key>Description</key>
			<array>
				<string>She was born </string>
				<string>in the solar system and </string>
				<string>conquered the best spaceships.</string>
			</array>
			<key>Level</key>
			<integer>1</integer>
			<key>Experience</key>
			<integer>0</integer>
			<key>BulletLevel</key>
			<integer>1</integer>
		</dict>
		<key>Normandy</key>
		<dict>
			<key>Purchased</key>
			<false/>
			<key>Title</key>
			<string>Captain Triss</string>
			<key>Description</key>
			<array>
				<string>One who </string>
				<string>has friends in</string>
				<string>the Alliance military.</string>
			</array>
			<key>Level</key>
			<integer>1</integer>
			<key>Experience</key>
			<integer>0</integer>
			<key>BulletLevel</key>
			<integer>1</integer>
		</dict>
		<key>Thunderbolt</key>
		<dict>
			<key>Purchased</key>
			<false/>
			<key>Title</key>
			<string>Captain Charles</string>
			<key>Description</key>
			<array>
				<string>She is </string>
				<string>mysterious loner</string>
				<string>a human Officer</string>
			</array>
			<key>Level</key>
			<integer>1</integer>
			<key>Experience</key>
			<integer>0</integer>
			<key>BulletLevel</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
